*{
    padding: 0;
    margin: 0;
}

#navbar {
    height: 80px;
    width: 100%;
    background: rgb(0, 0,0,0.4);
}


#navbar ul{
    float: right;
    margin-right: 30px;
    margin-top: 15px;
}
#navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
#navbar ul li a{
    font-size: 20px;
    font-style: italic;
    font-weight:bolder;
    text-decoration: none;
    color: rgb(231, 104, 19);
}

main #firstImagep {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 30px;

}

main img {
    display: inline-block;
    grid-template-rows: 200px;
    text-align: center;
    gap: 10px;
    width: 100px;
    height: 100px;

}
